
.div {
    background-image: url(img/Nu_Paolla-1-1.png);
    width: 200px;
    height: 200px;
}

img {
    margin-right: 45px;
}

#topo-navegação {
   align-items: center;
   text-align: center;
   
}

a {
    text-decoration: none;
    margin-right: 15px;
    text-align: center;
    align-items: center;
}

a:hover {
    font-size: 37px;
    background-color: black;
    color: white;
    border: transparent;
    border-radius: 12px;
    transition: 1.5s;
}