p {
    color: orange;
}

li {
    background-color: cornflowerblue;
    border: 1px solid blue;   
}

table {
    background-color: orange;
    border: 5px solid darkred;
}

th {
    border:2px solid black ;
}

a {
    color: darkgreen;
}

